input#id_username,
input#id_password,
input#id_email {
    height: 30px;
    color: #323232;
    background-color: dimgrey;
    backdrop-filter: blur();
    border-radius: 10px;
    padding: 10px;
    font-size: 14pt;
    text-align: center;
}

.content {
    background-color: #393E46;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 450px;
    margin: 5% auto;
}

form {
    align-content: center;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form > input {
    margin: 20px;
    border: 0 solid;
    outline: none;
}

form > label {
    font-size: 15pt;
    color: #EEE;
    font-weight: bolder;
    font-family: "Fira Sans", sans-serif;
}

a {
    color: #eee;
}

button {
    outline: none;
    border: 0 solid;
    margin: 20px auto;
    font-size: 15pt;
    color: #eee;
    background-color: #00ADB5;
    box-shadow: 0 0 5px 1px #00ADB5;
    font-weight: bolder;
    padding: 17px;
    border-radius: 17px;
}

body {
    background-color: #222831;
}