<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Лента</title>
		<link rel="stylesheet" type="text/css" href="{% static 'core/index.css' %}">
    </head>
    <body>
        <div class="sidebar">
			<div class="sidebar-top">
				<a href="/"><img src="{% static 'icons/tape.svg' %}"></a>
				<a href="#"><img src="{% static 'icons/message.svg' %}"></a>
				<a href="/matches"><img src="{% static 'icons/match.svg' %}"></a>
			</div>
			<div>
				<a href="#"><img src="{% static 'icons/gear.svg' %}"></a>
        	</div>	
		</div>
        {% block content %}
        {% endblock %}
    </body>
</html>
