{% extends 'auth/auth.html' %}
{% block content %}
    <form action="reg-action" method="post">
        {% csrf_token %}

        <label for="id_username">Username</label>
        <input id="id_username" type="text" name="username">

        <label for="id_email">Email</label>
        <input id="id_email" type="email" name="email">

        <label for="id_password">Password</label>
        <input id="id_password" type="password" name="password">

        <button type="submit">Регистрация</button>

    </form>
    <a href="login">Уже есть аккаунт?</a>
{% endblock %}