input#id_username,
input#id_password,
input#id_email {
    height: 20px;
    color: #323232;
    background-color: dimgrey;
    backdrop-filter: blur();
    border-radius: 20px;
}

.content {
    background-color: #393E46;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 500px;
    width: 500px;
    height: 500px;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
}